@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url(//db.onlinewebfonts.com/c/17539719b4e0eb2d54284f9ecce700e1?family=Amazing+Kids);
@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.cdnfonts.com/css/clash-display'); */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar{
  box-shadow: rgb(128, 128, 128) 0px 0px 5px 0px;
}

/* .logo{
font-family: "Amazing Kids", sans-serif;
} */
